.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  img {
    display: block;
    margin: 15px;
    width: 300px;
    max-width: 100%;
  }